<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>

<body>

    <h2>Menú Persona</h2>

    <ol>
        <li><a th:href="@{/persona/listado}">Listado de personas en la BD.</a></li>
        <li><a th:href="@{/persona/nueva}">Crear una persona.</a></li>
        <li><a th:href="@{/persona/buscar}">Buscar Por ID.</a></li>
        <li><a th:href="@{/home}">Menú general</a></li>
    </ol>

</body>

</html>