<header th:fragment="menu">

    <nav>
        <ul class="menu">

            <li>
                <a th:href="@{/horarios}">Horarios</a>
            </li>

            <li>
                <a href="#">Gestión Perfil</a>
                <ul class="submenu">
                    <li><a th:href="@{/perfil/listado}">Listado de perfiles en la BD.</a></li>
                    <li><a th:href="@{/perfil/nueva}">Crear un perfil.</a></li>
                    <li><a th:href="@{/perfil/buscar}">Buscar Por ID.</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Gestión Materia</a>
                <ul class="submenu">
                    <li><a th:href="@{/materia/listado}">Listado de materias en la BD.</a></li>
                    <li><a th:href="@{/materia/nueva}">Crear una materia.</a></li>
                    <li><a th:href="@{/materia/buscar}">Buscar Por ID.</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Gestión Horario</a>
                <ul class="submenu">
                    <li><a th:href="@{/horario/listado}">Listado de horarios en la BD.</a></li>
                    <li><a th:href="@{/horario/nuevo}">Crear un horario.</a></li>
                    <li><a th:href="@{/horario/buscar}">Buscar Por ID.</a></li>
                </ul>
            </li>

            <li>
                <a href="#">Gestión Inscripción</a>
                <ul class="submenu">

                    <li><a th:href="@{/inscripcion/listado}">Listado de inscripciones en la BD.</a></li>
                    <li><a th:href="@{/inscripcion/nueva}">Crear una inscripcion.</a></li>
                </ul>
            </li>

        </ul>
    </nav>

</header>