<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Busqueda de materia</title>
</head>

<body>
    <h2>Buscar Materia por ID</h2>

    <a th:href="@{/materia/menu}">Menú materia</a>

    <form th:action="@{/materia/buscando}" method="get">
        <label for="id">Id:</label>
        <input type="number" name="id" id="id">

        <button type="submit">Buscar</button>
    </form>

</body>

</html>