<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Listado de Inscripciones</title>
</head>

<body>

    <header th:replace="~{fragmentos/menu :: menu}"></header>

    <h2>Listado de Inscripciones</h2>



    <table border="1">

        <thead>
            <th>ID</th>
            <th>Persona</th>
            <th>Año lectivo</th>
            <th>Materias</th>
            <th>Opciones</th>
        </thead>

        <tbody th:each="i : ${inscripciones}">
            <td th:text="${i.id}">ID</td>
            <td th:text="${i.persona.nombre}">Nombre</td>
            <td th:text="${i.anioLectivo}">Año lectivo</td>
            <td th:text="${i.materias.size}">Materias</td>
            <td>
                <a th:href="@{/inscripcion/{id}/editar(id=${i.id})}">Editar</a>
                <a th:href="@{/inscripcion/{id}/eliminar(id=${i.id})}">Eliminar</a>
            </td>
        </tbody>

    </table>

</body>

</html>