<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Inscripción</title>
</head>

<body>

    <h2>Menú Inscripción</h2>

    <ol>
        <li><a th:href="@{/inscripcion/listado}">Listado de inscripciones en la BD.</a></li>
        <li><a th:href="@{/inscripcion/nueva}">Crear una inscripcion.</a></li>
        <li><a th:href="@{/inscripcion/buscar}">Buscar Por ID.</a></li>
        <li><a th:href="@{/home}">Menú General</a></li>
    </ol>

</body>

</html>