<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Nueva inscripción</title>
</head>

<body>

    <header th:replace="~{fragmentos/menu :: menu}"></header>

    <h2>Filtrar Materias</h2>



    <form th:action="@{/inscripcion/filtro-materia}" method="get">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre">
        <span th:if="${faltanLLenarCampos}" style="color: red;">Debe llenar este campo.</span>

        <label for="anioCursadaFiltro">Año lectivo:</label>
        <input type="number" name="anioCursadaFiltro" id="anioCursadaFiltro">
        <span th:if="${faltanLLenarCampos}" style="color: red;">Debe llenar este campo.</span>

        <input type="submit" value="Buscar">
    </form>

    <h2>Crear Inscripción</h2>




    <form th:action="@{/inscripcion/guardar}" method="post" th:object="${inscripcion}">


        <label for="persona">Persona:</label>
        <select th:field="*{persona}">
            <option th:each="p : ${personas}" th:value="${p.id}" th:text="${p.nombre}"></option>
        </select>
        <span th:if="${#fields.hasErrors('persona')}" th:errors="*{persona}" style="color: red;"></span>

        <label for="anioLectivo">Año Lectivo:</label>
        <select th:field="*{anioLectivo}">
            <option th:each="a : ${aniosLectivo}" th:value="${a}" th:text="${a}"></option>
        </select>
        <span th:if="${#fields.hasErrors('anioLectivo')}" th:errors="*{anioLectivo}" style="color: red;"></span>



        <h3>Selección de Materias:</h3>

        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Selección</th>
                    <th>Nombre</th>
                    <th>Año de cursada</th>
                    <th>Tipo</th>
                </tr>

            </thead>

            <tbody>
                <tr th:each="m : ${listadoMaterias}">
                    <td th:text="${m.id}">0</td>
                    <td>
                        <input type="checkbox" name="seleccion" id="seleccion" th:value="${m.id}">
                    </td>
                    <td th:text="${m.nombre}">Nombre</td>
                    <td th:text="${m.anioCursada}">Año de cursada</td>
                    <td th:text="${m.tipoMateria}">Tipo de materia</td>
                </tr>
            </tbody>
        </table>

        <input type="submit" value="Guardar">
    </form>

</body>

</html>