<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title>Buscar perfil</title>
</head>

<body>
    <header th:replace="~{fragmentos/menu :: menu}"></header>
    <h2>Buscar por ID</h2>
    <form th:action="@{/perfil/buscando}" method="get">
        <label for="id">ID</label>
        <input type="number" name="idBusqueda" id="id">
        <button type="submit">Buscar</button>
    </form>
</body>

</html>