<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilos.css}">
    <title th:text="'Listado de perfiles (' + ${cantidadPersonas} +')'">Listado de perfiles</title>
</head>

<body>

    <header th:replace="~{fragmentos/menu :: menu}"></header>

    <h2>Listado de los perfiles en la BD</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Opción</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${listadoPersonas}">
                <td th:text="${p.id}">0</td>
                <td th:text="${p.nombre}">Nombre</td>
                <td>
                    <a th:href="@{/perfil/{id}/eliminar(id=${p.id})}">Eliminar</a>
                    <a th:href="@{/perfil/{id}/form-editar(id=${p.id})}">Editar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>